<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Promise</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="assets/css/noscript.css"/>
    </noscript>
</head>
<body class="is-preload">


<!-- Login section  -->
<article th:fragment="LoginArticle" id="Login">
    <h2 class="major">Login</h2>


    <!-- Login Image-->
    <span class="image main"><img src="images/pic_01.jpg" alt=""/></span>
    <div class="container m-6 my-5 h-100">
        <div class="row ms-5 mx-5">
            <div class="container overflow-hidden text-center">
                <div class="form-check form-check">
                    <input class="form-check-input" type="checkbox" id="chk-shop" onclick="chkShop()">
                    <label class="form-check-label" for="chk-shop">사업자 로그인</label>
                </div>
            </div>
            <p></p>

            <div class="container wrapper">
                <div class="mb-3">
                    <label class="form-label" for="id">ID</label>
                    <input class="form-control" type="text" name="id" id="id" onclick="noKr()"/>
                </div>
                <p></p>
                <div class="mb-3">
                    <label class="form-label" for="pwd">PW</label>
                    <input class="form-control" type="password" name="pwd" id="pwd"/>
                </div>
                <p></p>
                <button class="btn btn-sm " type="button" onclick="login()">Login</button>
                <button class="btn btn-sm container-fluid" style="float:right" type="button"
                        onclick="location.href='/signUpSelect'">Sign Up
                </button>
            </div>
            <!-- DTO 생성 후 수정 예정, 타임리프로 하이퍼링크 이용해야 이동하는 버튼 -->
        </div>
    </div>
</article>


</body>
</html>