<!DOCTYPE html>
<html lang="en">
<head>
    <title>Promise</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>

<footer th:fragment="SubFooter" id="subfooter" class="text-white text-center text-lg-start pt-3" style="background-color: rgb(108,117,125); ">
    <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-5">
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 fw-bolder">Promise Hair</h5>
                <div class="container">
                    <p>- You & Us Promise Hair -<br> 1 Team Spring Boot Project</p>
                </div>
                <div class="container p-3 pt-5">
                    <p>바쁜 당신의 하루를 위해 <br>당신의 소중한 하루를 위해 약속을</p>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 px-3">
                <h5 class="text-uppercase mb-4 fw-bolder">About Us</h5>
                <div class="container fw-lighter fw-normal">
                    <ul style="list-style:none;" class="pt-4">
                        <li> 박예린 ✨</li>
                        <li> 황승현 ✨</li>
                        <li> 김형도 ✨</li>
                        <li> 최한결</li>
                        <li> 권지환</li>
                    </ul>
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase mb-4 fw-bolder">Opening hours</h5>

                <table class="table text-center text-white">
                    <tbody class="font-weight-normal">
                    <tr>
                        <td> 박예린 :</td>
                        <td> Front 전반/ Back Support ✨</td>
                    </tr>
                    <tr>
                        <td> 황승현 :</td>
                        <td> Back 전반/ Front Support ✨</td>
                    </tr>
                    <tr>
                        <td> 김형도 :</td>
                        <td> Back Support ✨</td>
                    </tr>
                    <tr>
                        <td> 최한결 :</td>
                        <td> Front Support</td>
                    </tr>
                    <tr>
                        <td> 권지환 :</td>
                        <td> Project item procedure Support</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>


</footer>

</body>
</html>